<strong>Recuperação de senha</strong>

<p>Foi feita uma solicitação de recuperação de senha para o seu e-mail ({{ email }}). Se não foi você, tome cuidado!</p>

<p>Para continuar com a recuperação, utilize o token {{ token }} ou clique no link abaixo</p>

<a href="{{ link }}">Criar nova senha</a>
